html{
  height: 100%;
}
body {
  background-color: white;
  display: flex;
  margin: 0px;
  height: 100%;
}

#left-side{
  flex: 0.59;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}
#logo-section{
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 33%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo-section > p{
  color: white;
  font-size: 52px;
}
#credits{
  position: absolute;
  align-self: bottom;
  color: white;
  text-align: center;
  bottom: 25px;
  width: 37%
}
:visited{
  color: white;
}
:link{
  color: white;
}

#odin-img{
  height: 80%;
}

#right-side{
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
}
#top{
  background-color: aliceblue;
  flex: 1;
  font-size: large;
  font-weight: 700;
  
}
#top > #text1{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 15%;
}
#top > #text2{
  margin-left: 5%;
  margin-right: 15%;
}
#middle{
  box-shadow: 0 4px 7px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#middle-text{
  flex: 1;
  font-size: large;
  font-weight: 600;
  margin-left: 5%;
}

form{
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px;
}
.left{
  margin-left: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px;
}
.right{
  margin-left: 5%;
  margin-right: 55%;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 20px;
}
#first-formrow{
  flex: 1;
  display: flex;
}
#second-formrow{
  flex: 1;
  display: flex;
}
#third-formrow{
  flex: 1;
  display: flex;
}

#bottom{
  background-color: aliceblue;
  flex: 1;
}

input{
  border: solid 1px #E5E7EB;
  border-radius: 3px;
  outline: 0px;
}
input:focus{
  border-color: blue;
  box-shadow: 2px 2px 8px 1px rgba(21, 34, 225, 0.5);
}

button{
  background-color: #596D48;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 25px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 5%;
  height: 30px;
  width: 200px;
  
}
button:hover{
  background-color: #396D48;
}

#bottom > p{
  margin-left: 5%;
}

#login-link{
  color: #596D48;
}